.j
{
    font-family: fantasy;
    font-style: italic;
    background-color: beige;

}
.l
{
    font-family: fantasy;
    font-style: italic;
    background-color: beige;

    width: 25%;
}
.butt
{
    margin-left: 100px;
}
.but{
    margin-left: 38px;
}